body {
    font-size: 18px;
    background: black;
    background-image: url(Image/Background01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}
@font-face {
    font-family: 'DaMiOne';
    src: url('Fonts/DaMiOne-Regular.eot'); /* IE */
    src: url('Fonts/DaMiOne-Regular.woff2') format('woff2'),
         url('Fonts/DaMiOne-Regular.woff') format('woff'),
         url('Fonts/DaMiOne-Regular.ttf') format('truetype');
}
h2, h3 {
    font-family: 'DaMiOne';
}
a.text:active, /* активная/посещенная ссылка */
a.text:hover,  /* при наведении */
a.text {
  text-decoration: none;
  color: #666;
}
.parent {
    display: grid;                         
    place-items: center;                       
}
